<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <h1 class="text-center mt-5"><%= user.firstName %></h1>
    <%- include('../partials/script') %>
</body>
</html>