<div class="form-group">
    <label for="startDate">Başlangıç Tarihi:</label>
    <input type="date" id="startDate" name="startDate" class="form-control">
</div>
<div class="form-group">
    <label for="endDate">Bitiş Tarihi:</label>
    <input type="date" id="endDate" name="endDate" class="form-control">
</div>
<button type="submit" class="btn filterBtn">Filtrele</button>

