<div class="sidebar">
    <a class="nav-link active" aria-current="page" href="/profile">Anasayfa</a>
    <a class="nav-link" href="/admin/dealers">Bayiler</a>
    <a class="dropdown-item" href="/logout">Çıkış Yap</a>
</div>