<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

<body>
    <%- include('../../partials/nav') %>
    <div class="container mt-5">
        <div class="delete bg-light p-3 d-flex align-items-center justify-content-between">
          <p>
            <b>"<%= role.roleName %>"</b> İsimli rolü silmek istiyor musun?
          </p>
          <form method="post">
              <button type="submit" class="btn text-danger">Sil</button>
              <a href="/admin/roles">Vazgeç</a>
          </form>
        </div>
      </div>
    <%- include('../../partials/script') %>
</body>
</html>
