.dealer-description{
    background-color: #edeeee;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: .5rem;
}
.dealer-customers{
    width: 100%;
}
.subDealer-customers{
    width: 100%;
    
}
table th, table td{
   text-align: center;
}
a{
    text-decoration: none;
}
.customerAdd, .addOrder{
    font-size: 20px;
    color: #06D001;
}
.dealerAdd{
    font-size: 20px;
    color: #6EACDA;
}

.edit{
    font-size: 20px;
    color: #03346E;
}

.delete{
    font-size: 20px;
    color: #FF0000;
}

.subDealerCustomers, .dealerCustomers{
    border-radius: .5rem;
    margin-top: 10px;
    padding: 5rem;
    color: #fff;
    background-color: #3a77c2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.allCustomers{
    width: 100%;
    background-color: #edeeee;
    padding: 5rem;
    margin-top: 20px;
    border-radius: .5rem;
}
.allCustomers .table th, .allCustomers .table td{
    background-color: #edeeee !important;
    border-color: rgba(0, 0, 0, 0.2);
}
.customerBtn, .subCustomerBtn{
    color: #82acdf;
    background: #fff;
}
.customerBtn:hover, .subCustomerBtn:hover{
    color: #fff;
    background: #6e96c8;

}
.filterBtn, .filterReset{
    min-width: 15%;
    height: max-content;
    color: #fff;
    background: rgb(223, 94, 94);
}
.filterBtn:hover, .filterReset:hover{
    color: #fff;
    background: rgb(196, 76, 76)
}
.activeBtn{
    color: #fff;
    background: #82acdf;
}
.form-group{
    min-width: 20%;
}
.errorPage .home-page{
    color: #fff;
    background: #82acdf;
}
.errorPage .home-page:hover{
    color: #fff;
    background: #6e96c8;
}
.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh;
}

.errorPage .error-image {
    max-width: 100%;
    height: auto; 
}
.total-commission, .total-sub-commission{
    cursor: pointer;
    color: #fff;
    border-radius: .3rem;
    padding: .6rem;
    background-color: #6eae7b;
}
.status{
    color: #fefefe;
    padding: .2rem .5rem;
    border-radius: 1rem;
}
.active-status{
    background-color: #06D001;
}
.inActive-status{
    background-color: #ff0000;
}
@media screen and (max-width: 650px) {
    .allCustomers{
        padding: 1rem;
    }
    .allCustomersNav{
        align-items: center;
        flex-direction: column;
    }
    .filterForm{
        display: block !important;
    }
    .filterBtn, .filterReset{
        margin: 1px;
        width: 100%;
    }
    .commission{
        margin: 20px 0px 10px;
    }
  }